<li class="rf-accordion-group__item">
    <section class="rf-accordion">
        <h3 class="rf-accordion__title">
            <button class="rf-accordion__btn rf-accordion__btn--icon-right" aria-expanded="false" aria-controls="rf-accordion-group-<%= id %>-body-<%= id %>"><%= question %></button>
        </h3>
        <div class="rf-accordion__body" id="rf-accordion-group-<%= id %>-body-<%= id %>">
            <div class="rf-accordion__inner">
                <p><%- response %></p>
            </div>
        </div>
    </section>
</li>