

<!DOCTYPE html>
<html lang="fr" data-fr-reset>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>
         <% if (locals.pageTitle) { %>
         <%= pageTitle %> | <%= appName %>
         <% } else { %>
         <%= appName %>
         <% } %>
      </title>
      <link rel="stylesheet" type="text/css" href="/static/gouvfr/css/dsfr.min.css">
      <link rel="stylesheet" href="/static/css/custom.css">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
      <!-- Matomo -->
      <script src="/static/js/matomo.js"></script>
      <!-- End Matomo Code -->


      <!-- Jquery- is downloaded from https://jqueryui.com/download/#! (no npm package)-->
      <script src="/static/jquery/jquery.min.js"></script>
      <link rel="stylesheet" href="/static/jquery-ui-1.12.1/jquery-ui.min.css">
      <script src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>

      <script src="/static/js/notification.js"></script>

      <script src="/static/js/hotjar.js"></script>
   </head>
   <body>
      <div class="fr-skiplinks">
         <div class="fr-container">
            <ul class="fr-skiplinks__list">
               <li>
                  <a class="fr-link" href="#contenu">Accéder au contenu</a>
               </li>
               <li>
                  <a class="fr-link" href="#header-navigation">Accéder au menu</a>
               </li>
               <li>
                  <a class="fr-link" href="#footer">Accéder au footer</a>
               </li>
            </ul>
         </div>
      </div>
      <header role="banner" class="fr-header">
         <div class="fr-header__body">
            <div class="fr-container">
               <div class="fr-header__body-row">
                  <div class="fr-header__brand fr-enlarge-link">
                     <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                           <p class="fr-logo">
                              Ministère
                              <br>de l'Enseignement
                              <br>Supérieur,
                              <br>de la Recherche
                              <br>et de l'Innovation
                           </p>
                        </div>
                        <% if (locals.featureReimbursementPage && locals.isInPsychologistPages) { %>
                           <div class="fr-header__navbar">
                              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu" aria-haspopup="menu" title="Menu">
                              Menu
                              </button>
                           </div>
                        <% } %>
                     </div>
                     <div class="fr-header__service">
                        <a href="<%= locals.isInPsychologistPages ? '/psychologue/mes-seances' : '/' %>"
                           title="Retour à l’accueil">
                           <p class="fr-header__service-title">
                              <%= appName %>
                              <% if (locals.isInPsychologistPages) { %>
                              - Espace Psychologues
                              <% } %>
                           </p>
                        </a>
                        <p class="fr-header__service-tagline"><%= appDescription %></p>
                     </div>
                  </div>
                  <% if (locals.featureReimbursementPage && locals.isInPsychologistPages) { %>
                  <div class="fr-header__tools">
                     <div class="fr-header__tools-links">
                        <ul class="fr-links-group">
                           <li>
                              <a class="fr-link" href="/psychologue/logout" target="_self">Déconnexion</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <% } %>
               </div>
            </div>
         </div>
         <% if (locals.featureReimbursementPage && locals.isInPsychologistPages) { %>
            <div class="fr-header__menu fr-modal" id="modal-menu">
               <div class="fr-container">
                  <button class="fr-link--close fr-link" aria-controls="modal-menu">Fermer</button>
                  <div class="fr-header__menu-links" />
                  <nav  id="header-navigation" class="fr-nav" role="navigation" aria-label="Menu principal">
                     <ul class="fr-nav__list">
                        <li class="fr-nav__item">
                           <a class="fr-nav__link menu-link" href="/psychologue/mes-seances" target="_self"
                           <% if (page === '/psychologue/mes-seances') { %> aria-current="true"<% } %>
                           >
                              Déclarer mes séances
                           </a>
                        </li>
                        <li class="fr-nav__item">
                           <a class="fr-nav__link menu-link" href="/psychologue/mes-patients" target="_self"
                           <% if (page === '/psychologue/mes-patients') { %> aria-current="true"<% } %>
                           >
                              Gérer mes patients
                           </a>
                        </li>
                        <li class="fr-nav__item">
                           <a class="fr-nav__link menu-link" href="/psychologue/mes-remboursements" target="_self"
                           <% if (page === '/psychologue/mes-remboursements') { %> aria-current="true" <% } %>
                           >
                              Remboursement de mes séances
                           </a>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         <% } %>
      </header>
