<div class="rf-container-fluid <%= section.cssClass %> rf-centered rf-pb-6w rf-pt-2w">
  <div class="rf-grid-row rf-grid-row--center">
    <div class="rf-col-6"><h2><%= section.title %></h2></div>
  </div>
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter rf-px-7w">
    <div class="rf-col-xs-12 rf-col-xl-3 rf-p-3w">
      <div class="rf-text--lg rf-pb-2w"><%= section.parts[0].title %></div>
      <div class="rf-text--sm"><%= section.parts[0].text %></div>
    </div>
    <div class="rf-col-xs-12 rf-col-xl-3 rf-p-3w">
      <div class="rf-text--lg rf-pb-2w"><%= section.parts[1].title %></div>
      <div class="rf-text--sm"><%= section.parts[1].text %></div>
    </div>
    <div class="rf-col-xs-12 rf-col-xl-3 rf-p-3w">
      <div class="rf-text--lg rf-pb-2w"><%= section.parts[2].title %></div>
      <div class="rf-text--sm"><%= section.parts[2].text %></div>
    </div>
    <div class="rf-col-xs-12 rf-col-xl-3 rf-p-3w">
      <div class="rf-text--lg rf-pb-2w"><%= section.parts[3].title %></div>
      <div class="rf-text--sm"><%= section.parts[3].text %></div>
    </div>
  </div>
</div>
