<div class="fr-container--fluid <%= section.cssClass %> fr-centered fr-pb-2w fr-pt-2w">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-xs-12">
      <h2><%= section.title %></h2>
      <h3><%= section.subtitle %></h3>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
    <div class="fr-col-xs-12 fr-col-md-3">
      <div class="fr-text--lg fr-pb-2w fr-mb-1v"><%= section.parts[0].title %></div>
      <div class="fr-text--sm fr-mb-1v"><%= section.parts[0].text %></div>
    </div>
    <div class="fr-col-xs-12 fr-col-md-3">
      <div class="fr-text--lg fr-pb-2w fr-mb-1v"><%= section.parts[1].title %></div>
      <div class="fr-text--sm fr-mb-1v"><%= section.parts[1].text %></div>
    </div>
    <div class="fr-col-xs-12 fr-col-md-3">
      <div class="fr-text--lg fr-pb-2w fr-mb-1v"><%= section.parts[2].title %></div>
      <div class="fr-text--sm fr-mb-1v"><%= section.parts[2].text %></div>
    </div>
  </div>
</div>
