<%- include('partials/header') -%>

<div class="rf-container">
    <div>
      <%- include('partials/ariane',
      {
        items: [
          {
            label: 'Déclarer mes séances',
            url: '/mes-seances'
          },
        ],
      })
      -%>
          <div class="rf-grid-row rf-grid-row--left">
            <div class="rf-col rf-col-xs-12 rf-mb-5w">
                <h1>Déclarer mes séances</h1>
                <div>
                  Merci de participer au dispositif Santé Psy Etudiants!
                </div>
                <div>
                  Afin que nous puissions vous rembourser les séances réalisées, nous vous proposons de nous les
                  indiquer sur ce site.
                </div>
            </div>
        </div>
        <% if (errors.length) { %>
            <% errors.forEach(function(error) { %>
              <%- include('partials/notificationError', {error: error}) -%>
            <% }) %>
          <% } %>
          <% if (infos.length) { %>
            <% infos.forEach(function(info) { %>
              <%- include('partials/notificationInfo', {info: info}) -%>
            <% }) %>
        <% } %>
        <div class="rf-grid-row rf-grid-row--left rf-grid-row--gutter">
            <%- include('myAppointments') -%>
            <%- include('myPatients') -%>
        </div>
        <div class="rf-grid-row rf-grid-row--right rf-my-4w">
            Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
