<%- include('partials/header', { pageSubtitle: 'Espace Psychologues', home: '/psychologue/mes-seances'}) -%>

<div class="rf-container rf-mb-5w">
  <%- include('partials/ariane',
  {
    items: [
        {
          label: 'Déclarer mes séances',
          url: '/psychologue/mes-seances'
        },
        {
          label: pageTitle,
          url: '/psychologue/nouveau-medecin'
        },
    ],
  })
  -%>
  <h1>
    <%= pageTitle %>
  </h1>
  <div class="rf-mb-5w">
    <div>
      <%= pageIntroText %>
    </div>
  </div>
  <% if (errors.length) { %>
    <% errors.forEach(function(error) { %>
      <%- include('partials/notificationError', {error: error}) -%>
    <% }) %>
  <% } %>
  <% if (infos.length) { %>
    <% infos.forEach(function(info) { %>
      <%- include('partials/notificationInfo', {info: info}) -%>
    <% }) %>
  <% } %>
  <div class="rf-my-5w">
    <form action="<%= form.action %>" method="<%= form.method %>">
      <div class="rf-text--sm">
        Les champs avec une astérique (<span class="red-text">*</span>) sont obligatoires.
      </div>
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
      <div>
        <div class="rf-my-3w">
          <label class="rf-label" for="firstnames">Prénoms <span class="red-text">*</span></label>
          <input class="rf-input midlength-input" value="<%= doctor.firstNames %>" type="text" id="firstnames" name="firstnames" required>
        </div>
        <div class="rf-my-3w">
          <label class="rf-label" for="lastname">Nom <span class="red-text">*</span></label>
          <input class="rf-input midlength-input" value="<%= doctor.lastName %>"  type="text" id="lastname" name="lastname" required>
        </div>
        <div class="rf-my-3w">
          <label class="rf-label" for="address">Rue</label>
          <input class="rf-input midlength-input" value="<%= doctor.address %>"  type="text" id="address" name="address">
        </div>
        <div class="rf-my-3w">
          <label class="rf-label" for="city">Ville <span class="red-text">*</span></label>
          <input class="rf-input midlength-input" value="<%= doctor.city %>"  type="text" id="city" name="city" required>
        </div>
        <div class="rf-my-3w">
          <label class="rf-label" for="postalcode">Code postal <span class="red-text">*</span></label>
          <input class="rf-input midlength-input" value="<%= doctor.postalCode %>"  type="text" id="postalcode" name="postalcode"
          maxlength="5" size="5" required>
        </div>
        <div class="rf-my-3w">
          <label class="rf-label" for="phone">Téléphone</label>
          <input class="rf-input midlength-input" value="<%= doctor.phone %>"  type="phone" id="phone" name="phone">
        </div>
      </div>
      <div class="rf-my-5w">
        <input hidden name="doctorid" value="<%= doctor.id %>" />
        <button type="submit" class="rf-btn rf-btn--icon-left <%= form.submitButtonIcon %>"><%= form.submitButtonText %></button>
      </div>
    </form>
  </div>
  <div>
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </div>
</div>
</br>

<%- include('partials/footer') -%>
