<%- include('partials/header', { pageSubtitle: 'Espace Psychologues', home: '/psychologue/mes-seances'}) -%>

<div class="rf-container rf-mb-5w">
  <%- include('partials/ariane',
  {
    items: [
        {
          label: 'Déclarer mes séances',
          url: '/psychologue/mes-seances'
        },
        {
          label: pageTitle,
        },
    ],
  })
  -%>
  <h1>
    <%= pageTitle %>
  </h1>
  <div class="rf-mb-5w">
    <div>
      <%= pageIntroText %>
    </div>
  </div>
  <% if (errors.length) { %>
    <% errors.forEach(function(error) { %>
      <%- include('partials/notificationError', {error: error}) -%>
    <% }) %>
  <% } %>
  <% if (infos.length) { %>
    <% infos.forEach(function(info) { %>
      <%- include('partials/notificationInfo', {info: info}) -%>
    <% }) %>
  <% } %>
  <div class="rf-my-5w">
    <form action="<%= form.action %>" method="<%= form.method %>">
      <div class="rf-text--sm">
        Les champs avec une astérique (<span class="red-text">*</span>) sont obligatoires.
      </div>
      <input type="hidden" name="_csrf" value="<%= _csrf  %>">
      <div>
        <div class="rf-my-3w">
          <label class="rf-label" for="firstnames">Prénoms <span class="red-text">*</span></label>
          <input class="rf-input midlength-input" value="<%= patient.firstNames %>" type="text" id="firstnames" name="firstnames">
        </div>
        <div class="rf-my-3w">
          <label class="rf-label" for="lastname">Nom <span class="red-text">*</span></label>
          <input class="rf-input midlength-input" value="<%= patient.lastName %>"  type="text" id="lastname" name="lastname">
        </div>
        <div class="rf-my-3w">
          <!-- todo : JS validation for 11 digit number -->
          <label class="rf-label" for="ine" aria-describedby="ine-help">Numéro INE de l'étudiant</label>
          <div class="rf-hint-text" id="ine-help">
            Il fait 11 caractères (chiffres et lettres). Il peut être présent sur la carte d'étudiant.
          </div>
          <input class="rf-input short-input" value="<%= patient.INE %>" type="text" id="ine" name="ine">
        </div>
      </div>
      <div class="rf-my-5w">
        <input hidden name="patientid" value="<%= patient.id %>" />
        <button type="submit" class="rf-btn rf-btn--icon-left <%= form.submitButtonIcon %>"><%= form.submitButtonText %></button>
      </div>
    </form>
  </div>
  <div>
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </div>
</div>
</br>

<%- include('partials/footer') -%>
