<%- include('partials/header', { isInPsychologistPages: true }) -%>

<div class="fr-container fr-mb-3w">
  <%- include('partials/ariane',
  {
    items: [
        {
          label: 'Déclarer mes séances',
          url: '/psychologue/mes-seances'
        },
        {
          label: pageTitle,
        },
    ],
  })
  -%>
  <h1>
    <%= pageTitle %>
  </h1>
  <p class="fr-mb-2w">
    <%= pageIntroText %>
  </p class="fr-mt-2w">
  <% if (errors.length) { %>
    <% errors.forEach(function(error) { %>
      <%- include('partials/notificationError', {error: error}) -%>
    <% }) %>
  <% } %>
  <% if (infos.length) { %>
    <% infos.forEach(function(info) { %>
      <%- include('partials/notificationInfo', {info: info}) -%>
    <% }) %>
  <% } %>
  <div class="fr-my-3w">
    <form action="<%= form.action %>" method="<%= form.method %>">
      <p class="fr-text--sm fr-mb-1v">
        Les champs avec une astérique (<span class="red-text">*</span>) sont obligatoires.
      </p>
      <p class="fr-text--sm fr-mb-1v">
        S'il vous manque des champs non-obligatoires, vous pourrez y revenir plus tard pour compléter le dossier.
      </p>
      <input type="hidden" name="_csrf" value="<%= _csrf  %>">
      <div>
        <div class="fr-my-3w">
          <label class="fr-label" for="firstnames">Prénoms <span class="red-text">*</span></label>
          <input class="fr-input midlength-input" value="<%= patient.firstNames %>" type="text" id="firstnames" name="firstnames" required>
        </div>
        <div class="fr-my-3w">
          <label class="fr-label" for="lastname">Nom <span class="red-text">*</span></label>
          <input class="fr-input midlength-input" value="<%= patient.lastName %>"  type="text" id="lastname" name="lastname" required>
        </div>

        <div class="fr-my-3w">
          <label class="fr-label" for="dateofbirth">Date de naissance</label>
          <div class="fr-hint-text" id="dateofbirth-help">
            Exemple : 25/01/1987
          </div>
          <input class="fr-input midlength-input" value="<%= date.toFormatDDMMYYYY(patient.dateOfBirth) %>"
          type="text"
          pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$"
          title="Format JJ/MM/AAAA, par exemple : 25/01/1987"
          placeholder="JJ/MM/AAAA"
          id="dateofbirth" name="dateofbirth">
        </div>
        <div class="fr-my-3w">
          <label class="fr-label" for="institution" aria-describedby="institution-help">Établissement scolaire de l'étudiant</label>
          <div class="fr-hint-text" id="institution-help">
            Exemple : Université de Rennes ou ENSAE
          </div>
          <input class="fr-input midlength-input" value="<%= patient.institutionName %>"  type="text" id="institution" name="institution">
        </div>
        <div class="fr-my-3w">
          <!-- todo : JS validation for 11 digit number -->
          <label class="fr-label" for="ine" aria-describedby="ine-help">Numéro INE de l'étudiant (optionnel)</label>
          <div class="fr-hint-text" id="ine-help">
            Il fait 11 caractères (chiffres et lettres). Il peut être présent sur la carte d'étudiant.
          </div>
          <input class="fr-input short-input" value="<%= patient.INE %>" type="text" id="ine" name="ine" maxlength="11" size="11">
        </div>
        <div class="fr-my-3w fr-checkbox-group">
          <input type="checkbox" id="isstudentstatusverified" name="isstudentstatusverified" value="isstudentstatusverified" <% if(patient.isStudentStatusVerified){ %> checked="checked" <% } %> >
          <label class="fr-label" for="isstudentstatusverified">
            J'ai vérifié le statut étudiant de ce patient
            <span class="fr-hint-text">J'ai vu sa carte d'étudiant ou un autre justificatif</span>
          </label>
        </div>
        <div class="fr-my-3w fr-checkbox-group">
          <input type="checkbox" id="hasprescription" name="hasprescription" value="hasprescription" <% if(patient.hasPrescription){ %> checked="checked" <% } %> >
          <label class="fr-label" for="hasprescription">
            J'ai vérifié que les séances ont bien été prescrites par un médecin ou un Service de Santé Universitaire
            <span class="fr-hint-text">L'étudiant m'a présenté une lettre ou ordonnance médicale</span>
          </label>
        </div>
        <div class="fr-my-3w">
          <label class="fr-label" for="doctorname" aria-describedby="doctorname-help">
            Médecin ou Service de Santé Universitaire qui a orienté ce patient
          </label>
          <div class="fr-hint-text" id="doctorname-help">
            Exemple : Annie Benahmou ou SSU Rennes 1
          </div>
          <input class="fr-input midlength-input" value="<%= patient.doctorName %>"  type="text" id="doctorname" name="doctorname">
        </div>
        <div class="fr-my-3w">
          <label class="fr-label" for="doctoraddress" aria-describedby="doctoraddress-help">
            Ville et/ou code postal du médecin ou Service de Santé Universitaire
          </label>
          <div class="fr-hint-text" id="doctoraddress-help">
            Exemple : 97400 Saint-Denis
          </div>
          <input class="fr-input midlength-input" value="<%= patient.doctorAddress %>"  type="text" id="doctoraddress" name="doctoraddress">
        </div>
      </div>
      <div class="fr-my-5w">
        <input hidden name="patientid" value="<%= patient.id %>" />
        <button type="submit" class="fr-btn fr-btn--icon-left <%= form.submitButtonIcon %>"><%= form.submitButtonText %></button>
      </div>
    </form>
  </div>
  <p>
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </p>
</div>
</br>

<%- include('partials/footer') -%>
