<%- include('partials/header') -%>

<div class="rf-container rf-mb-5w">

  <div class="rf-grid-row rf-grid-row--gutters rf-b__two-col">
    <nav class="rf-col-xs-12 rf-col-md-3 rf-sidemenu rf-sidemenu--sticky" aria-label="Menu latéral">
      <div class="rf-sidemenu__inner">
        <ul class="rf-sidemenu__list">
            <li class="rf-sidemenu__item">
                <a class="rf-sidemenu__link" href="#etudiant" target="_self">Étudiant·es</a>
            </li>
            <li class="rf-sidemenu__item">
                <a class="rf-sidemenu__link" href="#psy" target="_self">Psychologues</a>
            </li>
        </ul>
        </div>
    </nav>

    <div class="rf-container rf-col-xs-12 rf-col-md-9">
      <h1 id="etudiant">Je suis étudiant·e</h1>

      <ul class="rf-accordion-group">
        <%- include('partials/faq-item',
        {
          id: 'e0',
          question: 'À combien de séances ai-je le droit ?',
          response: 'Vous avez le droit à 3 séances remboursées. Votre médecin peut ensuite reconduire le dispositif autant de fois que nécessaire.'
        })
        -%>

        <%- include('partials/faq-item',
        {
          id: 'e1',
          question: 'Combien ça coûte ?',
          response: 'Chaque séance chez le ou la psychologue est remboursée. Seule la consultation chez votre médecin est payante.'
        })
        -%>

        <%- include('partials/faq-item',
        {
          id: 'e2',
          question: 'Je suis déjà suivi·e par un·e psy, puis-je bénéficier du dispositif ?',
          response: 'Vous pouvez bénéficier du dispositif en passant au préalable par un médecin qui pourra initier la prise en charge par Santé Psy Étudiant.'
        })
        -%>

        <%- include('partials/faq-item',
        {
          id: 'e3',
          question: 'Pourquoi voir un·e psy ?',
          response: 'Un·e psychologue peut vous aider à soulager une souffrance psychique :<ul><li>mal-être</li><li>idées noires</li><li>troubles compulsifs alimentaires (TCA)</li><li>troubles obsessionnels compulsif (TOC)</li><li>dépression</li><li>anxiété</li><li>insomnies</li><li>…</li></ul>'})
        -%>

        <%- include('partials/faq-item',
        {
          id: 'e4',
          question: 'Comment trouver un·e médecin ?',
          response: 'Vous pouvez vous renseigner auprès de votre établissement pour obtenir les coordonnées de votre Service de Santé Universitaire (SSU). Si vous n’avez pas accès à un SSU, vous pouvez vous rendre chez un médecin généraliste.'})
        -%>

      </ul>

      <h1 id="psy">Je suis psychologue</h1>

      <ul class="rf-accordion-group">
        <%- include('partials/faq-item',
        {
          id: 'p0',
          question: 'Puis-je participer au dispositif de soutien ?',
          response: 'Oui, si vous êtes psychologue diplômé, et que vous exercez depuis au moins 3 ans. <a href="" target="_blank" rel="noopener noreferrer">Participer au dispositif</a>'
        })
        -%>

        <%- include('partials/faq-item',
        {
          id: 'p1',
          question: 'Combien serais-je payé ?',
          response: 'Les séances vous seront remboursées à hauteur de 30 euros.'
        })
        -%>

        <%- include('partials/faq-item',
        {
          id: 'p2',
          question: 'Les étudiant·es peuvent-ils directement venir me voir ?',
          response: 'Les étudiants doivent consulter un médecin du service santé universitaire ou un médecin généraliste afin d’être orienté vers la démarche.'
        })
        -%>

      </ul>

    </div>
  </div>

</div>

<%- include('partials/footer') -%>