<%- include('partials/header') -%>

<div class="fr-container fr-mb-3w">
  <%- include('partials/ariane',
  {
    items: [
      {
        label: 'Accueil',
        url: '/'
      },
      {
        label: 'Foire aux questions'
      }
    ],
  })
  -%>

  <div class="fr-grid-row fr-grid-row--gutters fr-b__two-col">
    <nav class="fr-col-xs-12 fr-col-md-3 fr-sidemenu fr-sidemenu--sticky" aria-label="Menu latéral">
      <div class="fr-sidemenu__inner">
        <ul class="fr-sidemenu__list">
            <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#etudiant" target="_self">Étudiants</a>
            </li>
            <li class="fr-sidemenu__item">
                <a class="fr-sidemenu__link" href="#psy" target="_self">Psychologues</a>
            </li>
            <li class="fr-sidemenu__item">
              <a class="fr-sidemenu__link" href="#medecin" target="_self">Médecins</a>
          </li>
        </ul>
        </div>
    </nav>

    <div class="fr-container fr-col-xs-12 fr-col-md-9">
      <h1 id="etudiant">Je suis étudiant</h1>

      <div class="fr-mb-3w">
        <div>
          <span class="fr-fi-arrow-right-line fr-fi--md"></span>
          <span>Vous voulez plus d'infos sur le dispositif ?</span>
        </div>
        <div>
          <a class="fr-btn fr-btn--alt fr-mt-2w" href="/static/images/flyer_etudiants.pdf">
            Voir le flyer étudiants
          </a>
        </div>
        <div class="fr-text--xs fr-mt-2w">
          Note : si vous utilisez Safari et que le flyer ne s'affiche pas ("Module bloqué"), essayez Firefox ou Chrome.
        </div>
      </div>

      <ul class="fr-accordion-group">
        <%- include('partials/faq-items',
          {
            faq,
            section: 'students'
          })
        -%>
      </ul>

      <h1 id="psy">Je suis psychologue</h1>

      <div class="fr-mb-3w">
        <div>
          <span class="fr-fi-arrow-right-line fr-fi--md"></span>
          <span>Vous voulez plus d'infos sur le dispositif ?</span>
        </div>
        <div>
          <a class="fr-btn fr-btn--alt fr-mt-2w" href="/static/images/flyer_psychologues.pdf">
            Voir le flyer psychologues
          </a>
        </div>
        <div class="fr-text--xs fr-mt-2w">
          Note : si vous utilisez Safari et que le flyer ne s'affiche pas ("Module bloqué"), essayez Firefox ou Chrome.
        </div>
      </div>

      <ul class="fr-accordion-group">
        <h2>Éligibilité</h2>
        <%- include('partials/faq-items',
          {
            faq,
            section: 'eligibility'
          })
        -%>

        <h2 id="remboursement">Prix de la séance et remboursement</h2>
        <%- include('partials/faq-items',
          {
            faq,
            section: 'reimbursement'
          })
        -%>

        <h2>Déroulé</h2>
        <%- include('partials/faq-items',
          {
            faq,
            section: 'process'
          })
        -%>
      </ul>

      <h1 id="medecin">Je suis médecin généraliste</h1>

      <div class="fr-mb-3w">
        <div>
          <span class="fr-fi-arrow-right-line fr-fi--md"></span>
          <span>Vous voulez plus d'infos sur le dispositif ?</span>
        </div>
        <div>
          <a class="fr-btn fr-btn--alt fr-mt-2w" href="/static/images/flyer_medecins.pdf">
            Voir le flyer médecins
          </a>
        </div>
        <div>
          <a class="fr-btn fr-btn--alt fr-mt-2w" href="/static/images/flyer_ssu.pdf">
            Voir le flyer SSU
          </a>
        </div>
        <div class="fr-text--xs fr-mt-2w">
          Note : si vous utilisez Safari et que le flyer ne s'affiche pas ("Module bloqué"), essayez Firefox ou Chrome.
        </div>
      </div>

      <ul class="fr-accordion-group">
        <%- include('partials/faq-items',
          {
            faq,
            section: 'doctor'
          })
        -%>
      </ul>

    </div>
  </div>

</div>

<%- include('partials/footer') -%>
