<%- include('partials/header') -%>
<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
      <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <% if (errors.length) { %>
        <% errors.forEach(function(error) { %>
          <%- include('partials/notificationError', {error: error}) -%>
        <% }) %>
      <% } %>
      <% if (infos.length) { %>
        <% infos.forEach(function(info) { %>
          <%- include('partials/notificationInfo', {info: info}) -%>
        <% }) %>
      <% } %>
    </div>
  </div>
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--middle rf-mt-3w rf-pb-4w">
    <div id="hero-col-1" class="rf-col-md-4 rf-col-xs-10 rf-pr-6w">
      <h1>Étudiants, parlez de vos difficultés</h1>
      <p>
        Pendant la crise sanitaire, bénéficiez de séances avec un psychologue gratuitement, sans avancer de frais.
      </p>
    </div>
    <div id="hero-col-2" class="rf-col-md-4 rf-col-xs-10">
      <div>
        <img
          style="max-width: 100%;"
          src="/static/images/illustration_sante_psy.svg"
          alt="Séance chez un psychologue"
        />
      </div>
    </div>
  </div>
</div>

<%- include('partials/section',
   {
     section:
       {
         title: "Comment ça se passe ?",
         subtitle: "Trois étapes indispensables",
         parts: [
           {
             title: '1. Consultez un médecin',
             text: 'Votre médecin généraliste ou votre Service de Santé Universitaire vous oriente vers un accompagnement psychologique.',
           },
           {
             title: '2. Choisissez un psychologue',
             text: 'Vous choisissez le professionnel qui vous accompagnera parmi la liste des psychologues partenaires.',
           },
           {
             title: '3. Bénéficiez d\'un suivi',
             text: 'Vous prenez rendez-vous avec votre psychologue, qui vous suivra pendant 3 séances. Votre médecin pourra les renouveler si besoin.',
           },
        ],
         cssClass: 'rf-bg--alt',
       },
   })
 -%>
 <div class="rf-centered rf-p-5v rf-bg--alt">
   <a class="rf-btn rf-btn--secondary" href="/faq">En savoir plus</a>
</div>

<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter bg-fond-alternatif">
    <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <h2 id="je-suis-etudiant">Je suis étudiant, étudiante</h2>
        <div class="rf-pb-2w">
          <p>
            Tous les étudiants du supérieur sont éligibles (universités, écoles publiques et privées, BTS, ...), de toutes les nationalités.
          </p>
          <p>
            Pour commencer le parcours de soins,
            si vous connaissez votre Service de Santé Universitaire, contactez les.
            Sinon, vous pouvez également contacter votre médecin traitant ou un médecin généraliste.
          </p>
          <p>
            <a class="rf-btn rf-btn--alt" href="/faq#etudiant">En savoir plus</a>
          </p>
        </div>
          <% if (featurePsyList) { %>
            <div class="rf-pb-2w">
              <p>
                Lorsque votre médecin (universitaire ou généraliste) vous aura orienté vers des séances de psychologue,
                vous pouvez choisir parmi les psychologues partenaires.
              </p>
              <p>
                <a class="rf-btn rf-btn--alt" href="/consulter-les-psychologues">Trouver un psychologue</a>
              </p>
            </div>
          <% } %>
        <div>
          <p>
            Nous vous suggérons aussi ce site de conseils pour gérer ses difficultés pendant cette période de crise :
          </p>
          <a class="rf-btn rf-btn--alt" href="https://www.soutien-etudiant.info" target="_blank" rel="noopener noreferrer">Voir le site www.soutien-etudiant.info</a>
        </div>
    </div>
  </div>
</div>

<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
    <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <h2 id="je-suis-psychologue">Je suis psychologue</h2>
        <div class="rf-pb-5w">
          <p>
            Vous souhaitez participer au programme d'accompagnement psychologique des étudiants ? Merci !
          </p>
          <p>
            Une fois inscrit, et en cas d'éligibilité, vos coordonnées apparaîtront dans l'annuaire public des psychologues partenaires sur cette plateforme.
            Une université vous contactera ensuite pour établir une convention.
            Cette convention garantira le remboursement de l'ensemble des consultations que vous réaliserez dans le cadre de ce dispositif.
          </p>
          <% if (formUrl) { %>
            <h3>
              Vous êtes prêts à commencer ?
            </h3>
            <a class="rf-btn rf-btn--alt" href="<%= formUrl %>" target="_blank" rel="noopener noreferrer">
              Commencer mon inscription
            </a>
            <p>
              <a class="rf-btn rf-btn--alt" href="/faq#psy">
                Consulter la foire aux questions
              </a>
            </p>
            <% if (featurePsyPages) { %>
              <h3>Vous avez déjà reçu la validation suite à la démarche ?</h3>
              <a class="rf-btn rf-btn--alt" href="/psychologue/login">Déclarer mes séances</a>
            <% } %>
          <% } else { %>
            <p>
              La démarche n'est pas encore finalisée, vous pourrez bientôt postuler sur ce site.
            </p>
          <% } %>
        </div>
      </div>
  </div>
</div>

<%- include('partials/footer') -%>
