<%- include('partials/header') -%>
<div class="fr-container">
  <% if (errors.length || infos.length) { %>
  <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
      <div class="fr-col fr-col-xs-10 fr-col-md-8 fr-my-4w">
        <% errors.forEach(function(error) { %>
          <%- include('partials/notificationError', {error: error}) -%>
        <% }) %>
        <% infos.forEach(function(info) { %>
          <%- include('partials/notificationInfo', {info: info}) -%>
        <% }) %>
      </div>
    </div>
  <% } %>
  <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-mt-1v fr-pb-1v">
    <div id="hero-col-1" class="fr-col-md-5 fr-col-xs-6 fr-pr-6w">
      <h1>Étudiants, parlez de vos difficultés</h1>
      <p class="fr-text--lg fr-mb-1v">
        Consultez un psychologue gratuitement
      </p>
    </div>
    <div id="hero-col-2" class="fr-col-md-7 fr-col-xs-6">
      <div>
        <img
          style="max-width: 100%;"
          src="/static/images/illustration_sante_psy.svg"
          alt="Séance chez un psychologue"
        />
      </div>
    </div>
  </div>
</div>

<%- include('partials/section',
   {
     section:
       {
         title: "Comment ça se passe ?",
         subtitle: "Trois étapes indispensables",
         parts: [
           {
             title: '1. Consultez un médecin',
             text: 'Votre médecin généraliste ou votre Service de Santé Universitaire vous oriente vers un accompagnement psychologique.',
           },
           {
             title: '2. Choisissez un psychologue',
             text: 'Vous choisissez le professionnel qui vous accompagnera parmi la liste des psychologues partenaires.',
           },
           {
             title: '3. Bénéficiez d\'un suivi',
             text: 'Vous prenez rendez-vous avec votre psychologue, qui vous suivra pendant 3 séances. Votre médecin pourra les renouveler si besoin.',
           },
        ],
         cssClass: 'fr-bg--alt',
       },
   })
 -%>
 <div class="fr-centered fr-p-2w fr-bg--alt">
   <p class="fr-mb-2w">Étudiants, psychologues, médecins, vous souhaitez plus d’informations ?</p>
   <a class="fr-btn fr-btn--secondary" href="/faq">Consulter la Foire Aux Questions</a>
</div>

<div class="fr-container--fluid">
  <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters bg-fond-alternatif">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
        <div class="fr-col fr-col-xs-10 fr-col-md-8 fr-my-2w">
          <h2 id="je-suis-etudiant">Je suis étudiant, étudiante</h2>
            <p class="fr-mb-2w">
              Tous les étudiants du supérieur sont éligibles (universités, écoles publiques et privées, BTS, ...), de toutes les nationalités.
            </p>
            <p class="fr-mb-2w">
              Pour commencer le parcours de soins,
              si vous connaissez votre Service de Santé Universitaire, contactez les.
              Sinon, vous pouvez également contacter votre médecin traitant ou un médecin généraliste.
            </p>
            <% if (featurePsyList) { %>
                <p class="fr-mb-2w">
                  Lorsque votre médecin (universitaire ou généraliste) vous aura orienté vers des séances de psychologue,
                  vous pourrez choisir parmi les psychologues partenaires :
                </p>
                <p class="fr-mb-2w">
                  <a class="fr-btn fr-btn--lg fr-btn--alt" href="/trouver-un-psychologue">Trouver un psychologue</a>
                </p>
            <% } %>
            <p class="fr-mb-2w">
              Des questions, des doutes sur le dispositif ?
            </p>
            <p class="fr-mb-2w">
              <a class="fr-btn fr-btn--secondary" href="/faq#etudiant">Consulter la Foire Aux Questions</a>
            </p>
            <p class="fr-mb-2w">
              Nous vous suggérons aussi ce site de conseils pour gérer ses difficultés pendant cette période de crise :
            </p>
            <a class="fr-btn fr-btn--secondary" href="https://www.soutien-etudiant.info" target="_blank" rel="noopener noreferrer">
              Voir le site www.soutien-etudiant.info
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
    <div class="fr-col fr-col-xs-10 fr-col-md-8">
      <h2 id="je-suis-psychologue">Je suis psychologue</h2>
        <div class="fr-pb-2w">
          <p class="fr-mb-2w">
            Vous souhaitez participer au programme d'accompagnement psychologique des étudiants ? Merci !
          </p>
          <p class="fr-mb-2w">
            Une fois inscrit, et en cas d'éligibilité, vos coordonnées apparaîtront dans l'annuaire public des psychologues partenaires sur cette plateforme.
            Une université vous contactera ensuite pour établir une convention.
            Cette convention garantira le remboursement de l'ensemble des consultations que vous réaliserez dans le cadre de ce dispositif.
          </p>
          <p class="fr-mb-2w">
            <a class="fr-btn fr-btn--secondary" href="/faq#psy">
              Consulter la Foire Aux Questions
            </a>
          </p>
          <% if (formUrl) { %>
            <p class="fr-my-1v">
              Vous voulez devenir psychologue partenaire du dispositif ?
            </p>
            <a class="fr-btn fr-btn--alt" href="<%= formUrl %>" target="_blank" rel="noopener noreferrer">
              Commencer mon inscription
            </a>
            <% if (featurePsyPages) { %>
              <p class="fr-my-1v">Vous avez déjà reçu la validation suite à la démarche ?</p>
              <a class="fr-btn fr-btn--alt" href="/psychologue/login">Déclarer mes séances</a>
            <% } %>
          <% } else { %>
            <p class="fr-mb-2w">
              La démarche n'est pas encore finalisée, vous pourrez bientôt postuler sur ce site.
            </p>
          <% } %>
        </div>
      </div>
  </div>
</div>

<%- include('partials/footer') -%>
