<%- include('partials/header') -%>
<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
      <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <% if (errors.length) { %>
        <% errors.forEach(function(error) { %>
          <%- include('partials/notificationError', {error: error}) -%>
        <% }) %>
      <% } %>
    </div>
  </div>
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--middle rf-mt-3w rf-pb-4w">
    <div id="hero-col-1" class="rf-col-md-4 rf-col-xs-10 rf-pr-6w">
      <h1>Étudiants, parlez de vos difficultés</h1>
      <p>
        Pendant la crise sanitaire, bénéficiez de séances avec un psychologue gratuitement, sans avancer de frais.
      </p>
    </div>
    <div id="hero-col-2" class="rf-col-md-4 rf-col-xs-10">
      <div>
        <img
          style="max-width: 100%;"
          src="/static/images/seance_psy.jpg"
          alt="Séance chez un psychologue"
        />
      </div>
      <div class="rf-text-right">
        <a class="rf-text--xs" href="https://www.freepik.com/vectors/medical">Image de pch.vector - www.freepik.com</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/section',
   {
     section:
       {
         title: "Comment ça se passe ?",
         parts: [
           {
             title: 'Consultez un médecin',
             text: 'Votre médecin généraliste ou votre Service de Santé Universitaire vous oriente vers un accompagnement psychologique.',
           },
           {
             title: 'Choisissez un psychologue',
             text: 'Vous choisissez le professionnel qui vous accompagnera parmi la liste des psychologues partenaires.',
           },
           {
             title: 'Bénéficiez d\'un suivi',
             text: 'Vous prenez rendez-vous avec votre psychologue, qui vous suivra pendant 3 séances. Votre médecin pourra les renouveler si besoin.',
           },
        ],
         cssClass: 'rf-bg--alt',
       },
   })
 -%>

<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter bg-fond-alternatif">
    <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <h2>Je suis étudiant·e</h2>
        <div class="rf-pb-2w">
          <p>
            Le parcours de soins est en cours de préparation.
            Si vous souhaitez obtenir un accompagnement psychologique, vous pouvez prendre contact avec votre médecin généraliste ou votre Service de Santé Universitaire.
          </p>
          <% if (featurePsyList) { %>
            <a class="rf-btn" href="/consulter-les-psychologues">Voir la liste des psychologues conventionnés avec lesquels prendre rendez-vous</a>
          <% } %>
          <p>
            Nous vous suggérons aussi ce site de conseils :
          </p>
          <a class="rf-btn" href="https://www.soutien-etudiant.info" target="_blank" rel="noopener noreferrer">Voir le site www.soutien-etudiant.info</a>
        </div>
    </div>
  </div>
</div>

<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
    <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <h2>Je suis psychologue</h2>
        <div class="rf-pb-5w">
          <p>
            Vous souhaitez participer au programme d'accompagnement psychologique des étudiants ? Merci !
          </p>
          <p>
            Une fois inscrit.e et en cas d'éligibilité, vos coordonnées apparaîtront dans l'annuaire public des psychologues partenaires sur cette plateforme.
            Une université vous contactera ensuite pour établir une convention.
            Cette convention garantira le remboursement de l'ensemble des consultations que vous réaliserez dans le cadre de ce dispositif.
          </p>
          <% if (formUrl) { %>
            <p>
              Vous êtes prêts à commencer ?
            </p>
            <a class="rf-btn" href="<%= formUrl %>" target="_blank" rel="noopener noreferrer">Participer au dispositif</a>
          <% } else { %>
            <p>
              La démarche n'est pas encore finalisée, vous pourrez bientôt postuler sur ce site.
            </p>
          <% } %>
        </div>
      </div>
  </div>
</div>

<%- include('partials/footer') -%>
