<%- include('partials/header') -%>

<div class="rf-container rf-mb-5w">
  <h1 id="contactez-nous">
    Mes séances
  </h1>
  <% if (errors.length) { %>
    <% errors.forEach(function(error) { %>
      <%- include('partials/notificationError', {error: error}) -%>
    <% }) %>
  <% } %>
  <% if (infos.length) { %>
    <% infos.forEach(function(info) { %>
      <%- include('partials/notificationInfo', {info: info}) -%>
    <% }) %>
  <% } %>
  <div>
    <a href="/nouvelle-seance" class="rf-btn rf-fi-add-line rf-btn--icon-left">Nouvelle séance</a>
  </div>
  <div class="rf-my-5w">
    <% appointments.forEach(function(appointment) { %>
      <li><%= format.formatFrenchDate(appointment.date) %> avec <%= appointment.firstNames %> <%= appointment.lastName %></li>
    <% }) %>
  </div>
  <div>
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </div>
</div>

<%- include('partials/footer') -%>
