<!-- Javascript for the datepicker -->
<script src="/static/jquery/jquery.min.js"></script>

<!-- Jquery-ui is downloaded from https://jqueryui.com/download/#! (no npm package)-->
<link rel="stylesheet" href="/static/jquery-ui-1.12.1/jquery-ui.min.css">
<script src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>

<script src="/static/js/datepicker-fr.js"></script>
<script src="/static/js/month-picker.js"></script>
<style>
  .ui-datepicker-calendar {
    display: none;
  }
</style>

<%- include('partials/header', { isInPsychologistPages: true }) -%>

  <div class="fr-container fr-mb-3w fr-mt-2w">
    <%- include('partials/announcement') -%>
      <% if (!currentConvention.universityId) { %>
        <div class="fr-callout fr-fi-information-line fr-mb-2w">
          <h4 class="fr-callout__title">Pour un suivi de vos remboursements</h4>
          <p class="fr-callout__text">
            Veuillez indiquer l'état de votre conventionnement ainsi que votre
            université de rattachement sur la page
            <a href='/psychologue/mes-remboursements'>'Remboursement de mes séances'</a>
          </p>
        </div>
        <% } %>
          <h1>Déclarer mes séances</h1>
          <div class="fr-mb-1w">
            <div>
              Afin que nous puissions vous rembourser les séances réalisées, nous vous proposons de nous les
              indiquer sur ce site.
            </div>
          </div>
          <%- include('partials/notifications') -%>
            <div class="fr-grid-row fr-grid-row--left fr-grid-row--gutters">
              <div class="fr-col-12">
                <h2 class="fr-mb-2w">
                  Mes séances
                </h2>
                <div class="fr-mb-2w">
                  <a href="/psychologue/nouvelle-seance" class="fr-btn fr-fi-add-line fr-btn--icon-left">Nouvelle
                    séance</a>
                </div>
                <div class="fr-table">
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">
                          <form id="month-form" action="/psychologue/mes-seances" method="POST">
                            <input type="hidden" name="_csrf" value="<%= _csrf  %>" />
                            <div class="fr-grid-row fr-grid-row--no-gutters">
                              <label class="fr-label fr-col-3" for="date">Date</label>
                              <input class="fr-input short-input month-picker fr-col-9 fr-m-0" id="date" name="date"
                                value="<%= monthPicker %>" required autocomplete="off">
                              <input type="text" id="isoDate" name="isoDate" required aria-hidden="true" hidden
                                autocomplete="off">
                            </div>
                          </form>
                        </th>
                        <th scope="col">
                          Patient
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (appointments.length) { %>
                        <% appointments.forEach(function(appointment) { %>
                          <tr>
                            <td>
                              <%= date.formatFrenchDate(appointment.appointmentDate) %>
                            </td>
                            <td>
                              <%= appointment.firstNames %>
                                <%= appointment.lastName %>
                            </td>
                            <td>
                              <form action="/psychologue/api/supprimer-seance" method="POST">
                                <input type="hidden" name="_csrf" value="<%= _csrf  %>">
                                <input hidden name="appointmentId" value="<%= appointment.id %>" />
                                <button type="submit"
                                  class="fr-btn fr-btn--secondary fr-btn--sm fr-fi-delete-line fr-displayed-xs fr-hidden-sm fr-float-right" />
                                <button type="submit"
                                  class="fr-btn fr-btn--secondary fr-btn--sm fr-fi-delete-line fr-btn--icon-left fr-hidden-xs fr-displayed-sm fr-float-right">
                                  Supprimer
                                </button>
                              </form>
                            </td>
                          </tr>
                          <% }) %>
                            <% } else { %>
                              <span>Vous n‘avez pas déclaré de séances pour ce mois.</span>
                              <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="fr-my-4w">
              Des questions ? Une difficulté ? Envoyez-nous un email à <b>
                <%= contactEmail %>
              </b>.
            </div>
  </div>

  <%- include('partials/footer') -%>