<div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-6 fr-col-xl-6 fr-pr-6w fr-pb-5w">
  <h2 class="fr-mb-2w">
    Mes séances
  </h2>
  <div class="fr-mb-2w">
    <a href="/psychologue/nouvelle-seance" class="fr-btn fr-fi-add-line fr-btn--icon-left">Nouvelle séance</a>
  </div>
  <div>
    <% if (appointments.length) { %>
      <ul class="appointment-list">
        <% appointments.forEach(function(appointment) { %>
          <li>
            <div class="fr-grid-row fr-grid-row--gutterss fr-grid-row--space-between">
              <div class="fr-col-xs-12 fr-col-sm-6 fr-col-md-6 fr-col-lg-6 fr-col-xl-6">
                <div>
                  <%= format.formatFrenchDate(appointment.appointmentDate) %>
                </div>
                <div>
                  avec <%= appointment.firstNames %> <%= appointment.lastName %>
                </div>
              </div>
              <div class="fr-col-xs-12 fr-col-sm-6 fr-col-md-6 fr-col-lg-6 fr-col-xl-6 fr-text-right">
                <form action="/psychologue/api/supprimer-seance" method="POST">
                  <input type="hidden" name="_csrf" value="<%= _csrf  %>">
                  <input hidden name="appointmentId" value="<%= appointment.id %>" />
                  <button type="submit" class="fr-btn fr-btn--secondary fr-btn--sm fr-fi-close-line fr-btn--icon-left">
                    Supprimer
                  </button>
                </form>
            </div>
            </div>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      Vous n'avez pas encore déclaré de séances.
    <% } %>
  </div>
</div>

