<div class="rf-col-xs-12 rf-col-sm-12 rf-col-md-12 rf-col-lg-6 rf-col-xl-6 rf-pr-6w rf-pb-5w">
  <h2 class="rf-mb-4w">
    Mes séances
  </h2>
  <div class="rf-mb-2w">
    <a href="/psychologue/nouvelle-seance" class="rf-btn rf-fi-add-line rf-btn--icon-left">Nouvelle séance</a>
  </div>
  <div>
    <% if (appointments.length) { %>
      <ul class="appointment-list">
        <% appointments.forEach(function(appointment) { %>
          <li>
            <div class="rf-grid-row rf-grid-row--gutters rf-grid-row--space-between">
              <div class="rf-col-xs-12 rf-col-sm-6 rf-col-md-6 rf-col-lg-6 rf-col-xl-6">
                <div>
                  <%= date.formatFrenchDate(appointment.appointmentDate) %>
                </div>
                <div>
                  avec <%= appointment.firstNames %> <%= appointment.lastName %>
                </div>
              </div>
              <div class="rf-col-xs-12 rf-col-sm-6 rf-col-md-6 rf-col-lg-6 rf-col-xl-6 rf-text-right">
                <form action="/psychologue/api/supprimer-seance" method="POST">
                  <input type="hidden" name="_csrf" value="<%= _csrf  %>">
                  <input hidden name="appointmentId" value="<%= appointment.id %>" />
                  <button type="submit" class="rf-btn rf-btn--secondary rf-btn--sm rf-fi-close-line rf-btn--icon-left">
                    Supprimer
                  </button>
                </form>
            </div>
            </div>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      Vous n'avez pas encore déclaré de séances.
    <% } %>
  </div>
</div>

