<%- include('partials/header', { pageSubtitle: 'Espace Psychologues', home: '/psychologue/mes-seances'}) -%>

<!-- Javascript for the datepicker -->
<script src="/static/jquery/jquery.min.js"></script>

<!-- Jquery-ui is downloaded from https://jqueryui.com/download/#! (no npm package)-->
<link rel="stylesheet" href="/static/jquery-ui-1.12.1/jquery-ui.min.css">
<script src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>

<script src="/static/js/display-datepicker.js"></script>
<script src="/static/js/datepicker-fr.js"></script>


<div class="rf-container rf-mb-5w">
  <%- include('partials/ariane',
  {
    items: [
        {
          label: 'Déclarer mes séances',
          url: '/psychologue/mes-seances'
        },
        {
          label: 'Nouvelle séance',
        },
    ],
  })
  -%>
  <h1>
    Nouvelle séance
  </h1>
  <div class="rf-mb-5w">
    Vous avez réalisé une séance avec un.e étudiant.e. Renseignez-la sur cette page.
  </div>
  <% if (errors.length) { %>
    <% errors.forEach(function(error) { %>
      <%- include('partials/notificationError', {error: error}) -%>
    <% }) %>
  <% } %>
  <% if (infos.length) { %>
    <% infos.forEach(function(info) { %>
      <%- include('partials/notificationInfo', {info: info}) -%>
    <% }) %>
  <% } %>
  <div class="rf-my-5w">
    <form action="/psychologue/creer-nouvelle-seance" method="POST">
      <input type="hidden" name="_csrf" value="<%= _csrf  %>">
      <div>
        <div class="rf-my-3w">
          <label class="rf-label" for="date">Date de la séance</label>
          <input class="rf-input short-input" type="text" id="date" name="date" required autocomplete="off">
          <input type="text" id="iso-date" name="iso-date" required aria-hidden="true" hidden autocomplete="off">
        </div>

        <div class="rf-select-group">
          <label class="rf-label" for="patients" aria-describedby="patients-help">Patient</label>
          <div class="rf-hint-text" id="patients-help">
            Votre patient n'est pas dans la liste ?
            <a href="/psychologue/nouveau-patient">Ajoutez un nouveau patient</a>
          </div>
          <select class="rf-select" id="patients" name="patientId" required>
              <option value="" selected disabled hidden>- Select -</option>
              <% patients.forEach(function(patient) { %>
                <option value="<%= patient.id %>"><%= patient.lastName %> <%= patient.firstNames %></option>
              <% }) %>
          </select>
      </div>
      </div>
      <div class="rf-my-5w">
        <button type="submit" class="rf-btn rf-fi-add-line rf-btn--icon-left">Créer la séance</button>
      </div>
    </form>
  </div>
  <div>
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </div>
</div>

<%- include('partials/footer') -%>
