<%- include('partials/header') -%>

<!-- TODO serve jquery from local -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/js/datepicker-fr.js"></script>

<div class="rf-container rf-mb-5w">
  <h1>
    Nouveau patient
  </h1>
  <% if (errors.length) { %>
    <% errors.forEach(function(error) { %>
      <%- include('partials/notificationError', {error: error}) -%>
    <% }) %>
  <% } %>
  <% if (infos.length) { %>
    <% infos.forEach(function(info) { %>
      <%- include('partials/notificationInfo', {info: info}) -%>
    <% }) %>
  <% } %>
  <div class="rf-my-5w">
    <form action="/creer-nouveau-patient" method="POST">
      <div>
        <div class="rf-my-3w">
          <label class="rf-label" for="firstnames">Prénoms</label>
          <input class="rf-input short-input" type="text" id="firstnames" name="firstnames" required>
        </div>
        <div class="rf-my-3w">
          <label class="rf-label" for="lastname">Nom</label>
          <input class="rf-input short-input" type="text" id="lastname" name="lastname" required>
        </div>
        <div class="rf-my-3w">
          <label class="rf-label" for="studentnumber">Numéro INE de l'étudiant</label>
          <input class="rf-input" type="text" id="studentnumber" name="studentnumber">
        </div>
      </div>
      <div class="rf-my-5w">
        <button type="submit" class="rf-btn rf-fi-add-line rf-btn--icon-left">Ajouter le patient</button>
      </div>
    </form>
  </div>
  <div>
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </div>
</div>

<%- include('partials/footer') -%>
