<%- include('partials/header') -%>
<link href="/static/tabulator-tables/css/tabulator_modern.min.css" rel="stylesheet">
<script type="text/javascript" src="/static/tabulator-tables/js/tabulator.min.js"></script>
<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
      <div class="fr-container fr-mb-3w">
        <%- include('partials/ariane',
        {
          items: [
            {
              label: 'Accueil',
              url: '/'
            },
            {
              label: 'Trouver un psychologue'
            }
          ],
        })
        -%>

            <h1>Trouver un psychologue</h1>
              <% if (infos.length) { %>
                <% infos.forEach(function(info) { %>
                  <%- include('partials/notificationInfo', {info: info}) -%>
                <% }) %>
            <% }  %>

            <% if (errors.length) { %>
                <% errors.forEach(function(error) { %>
                  <%- include('partials/notificationError', {error: error}) -%>
                <% }) %>
            <% } %>
            <% if (psyList.length > 0) { %>
            <p class="fr-mb-2w">
              Il y a actuellement <%= psyList.length %> partenaires du dispositif d'accompagnement.<br/>
              La liste est mise à jour quotidiennement, revenez la consulter si vous n'avez pas pu trouver de psychologue.
            </p>
            <p class="fr-mb-2w">
                Vous pouvez contacter un psychologue partenaire dans n'importe quel département, peu importe votre université d'origine, par téléphone,
                email ou par son site web.
            </p>

            <div class="fr-input-group">
                <label class="fr-label" for="lastName-filter-value">Rechercher par nom : </label>
                <input class="fr-input midlength-input" id="lastName-filter-value" type="text" placeholder="Delgado">
            </div>
            <div class="fr-input-group">
                <label class="fr-label" for="address-filter-value">Rechercher votre ville ou code postal : </label>
                <input class="fr-input midlength-input" id="address-filter-value" type="text" placeholder="Amiens ou 80000">
            </div>
            <div class="fr-input-group">
                <label class="fr-label" for="departement-filter-value">Rechercher par département: </label>
                <input class="fr-input midlength-input" id="departement-filter-value" type="text" placeholder="Somme ou 80">
            </div>
            <div id="psy-table"></div>
            <% } %>
    </div>
</div>
<!-- Import data as recommended by OWASP :
    https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html#html-entity-encoding
-->
<div id="psy-list" style="display: none;">
    <!-- First HTML-escape the json -->
    <%= JSON.stringify(psyList) %>
</div>
<script src="/static/js/build-psy-listing.js"></script>
<%- include('partials/footer') -%>