<%- include('partials/header') -%>
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator_modern.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>
<div class="rf-container-fluid">
    <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
        <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
            <h1>Liste des psychologues partenaires</h1>
            <% if (errors.length) { %>
                <% errors.forEach(function(error) { %>
                  <%- include('partials/notificationError', {error: error}) -%>
                <% }) %>
            <% } else { %>
            <p>
                Il y a actuellement <%- psyList.length %> partenaires du dispositif d'accompagnement.
            </p>
            <div class="rf-input-group">
                <label class="rf-label" for="name-filter-value">Rechercher par nom : </label>
                <input class="rf-input midlength-input" id="name-filter-value" type="text" placeholder="Delgado">
            </div>
            <div class="rf-input-group">
                <label class="rf-label" for="address-filter-value">Rechercher par adresse : </label>
                <input class="rf-input midlength-input" id="address-filter-value" type="text" placeholder="Amiens ou 80000">
            </div>
            <div id="psy-table"></div>
            <% } %>
        </div>
    </div>
</div>
<script>
    var setupFilter = function(fieldName) {
        var filterEl = document.getElementById(fieldName + "-filter-value");
        // Trigger setFilter function with correct parameters
        function updateFilter(){
            table.setFilter(fieldName,'like', filterEl.value);
        }
        filterEl.addEventListener("keyup", updateFilter);
    };
    setupFilter("address");
    setupFilter("name");

    const psyList = <%- JSON.stringify(psyList) %>;
    var table = new Tabulator("#psy-table", {
        data: psyList, //assign data to table
        langs:{ // http://tabulator.info/docs/4.2/localize#setup
            "fr-fr":{ //French language definition
                "pagination":{
                    "first":"Première",
                    "first_title":"Première Page",
                    "last":"Dernière",
                    "last_title":"Dernière Page",
                    "prev":"Précédent",
                    "prev_title":"Page Précédente",
                    "next":"Suivant",
                    "next_title":"Page Suivante",
                },
                "headerFilters":{
                "default":"Rechercher par adresse", //default header filter placeholder text
                }
            },
        },
        tooltipsHeader:true,
        layout:"fitData",      //fit columns to width of table
        responsiveLayout:"hide",  //hide columns that dont fit on the table //@TODO
        tooltips:true,            //show tool tips on cells
        addRowPos:"top",          //when adding a new row, add it to the top of the table
        history:true,             //allow undo and redo actions on the table
        pagination:"local",       //paginate the data
        paginationSize:10,        //allow XX rows per page of data
        movableColumns:false,      //allow column order to be changed
        resizableRows:false,       //allow row order to be changed
        resizableColumns:false,
        initialSort:[             //set the initial sort order of the data
            {column:"name", dir:"asc"},
        ],
        columns:[
            {title:"Nom", field:"name", sorter:"string", responsive:0},
            {title:"Adresse", field:"address", sorter:"string", maxWidth: 300, responsive:0, formatter:"link", formatterParams:{labelField:"address",urlPrefix:"https://www.openstreetmap.org/search?query=",target:"_blank"}},
            {title:"📞", field:"phone", sorter:"string", responsive:0, formatter: "link", formatterParams:{labelField:"phone",urlPrefix:"tel:"}},
            {title:"Site web", field:"website", sorter:"string", maxWidth:200, responsive:0, formatter:"link", formatterParams:{labelField:"website",urlPrefix:"//",target:"_blank"}},
            {title:"Email", field:"email", sorter:"string", responsive:0, formatter:"link", formatterParams:{labelField:"email",urlPrefix:"mailto://"}},
            {title:"Téléconsultation", field:"teleconsultation", responsive:0,sorter:"string", hozAlign:"center",tooltip: "Est ce que le psychologue accepte la téléconsultation ?", formatter:"tickCross"},
        ],
        headerFilterPlaceholder:"Rechercher un psychologue" // http://tabulator.info/docs/4.9/filter#header
    });
    table.setLocale("fr-fr");
</script>

<%- include('partials/footer') -%>