<%- include('partials/header') -%>
<link href="/static/tabulator-tables/css/tabulator_modern.min.css" rel="stylesheet">
<script type="text/javascript" src="/static/tabulator-tables/js/tabulator.min.js"></script>
<div class="rf-container-fluid">
    <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
        <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
            <h1>Trouver un psychologue</h1>
              <% if (infos.length) { %>
                <% infos.forEach(function(info) { %>
                  <%- include('partials/notificationInfo', {info: info}) -%>
                <% }) %>
            <% }  %>

            <% if (errors.length) { %>
                <% errors.forEach(function(error) { %>
                  <%- include('partials/notificationError', {error: error}) -%>
                <% }) %>
            <% } %>
            <% if (psyList.length > 0) { %>
            <p>
                Il y a actuellement <%= psyList.length %> partenaires du dispositif d'accompagnement.
            </p>
            <div class="rf-input-group">
                <label class="rf-label" for="lastName-filter-value">Rechercher par nom : </label>
                <input class="rf-input midlength-input" id="lastName-filter-value" type="text" placeholder="Delgado">
            </div>
            <div class="rf-input-group">
                <label class="rf-label" for="address-filter-value">Rechercher votre ville ou code postal : </label>
                <input class="rf-input midlength-input" id="address-filter-value" type="text" placeholder="Amiens ou 80000">
            </div>
            <div id="psy-table"></div>
            <% } %>
        </div>
    </div>
</div>
<!-- Import data as recommended by OWASP :
    https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html#html-entity-encoding
-->
<div id="psy-list" style="display: none;">
    <!-- First HTML-escape the json -->
    <%= JSON.stringify(psyList) %>
</div>
<script src="/static/js/build-psy-listing.js"></script>
<%- include('partials/footer') -%>