<%- include('partials/header', { isInPsychologistPages: true }) -%>

<div class="fr-container fr-mb-3w fr-mt-2w">
  <h1>Remboursement de mes séances</h1>
  <%- include('partials/notifications') -%>

  <%- include('partials/selectPayingUniversity') -%>
  <%- include('partials/billing') -%>

  <div class="fr-my-4w">
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </div>
</div>

<%- include('partials/footer') -%>
