
<h1>Récapitulatif des séances - Santé Psy Etudiant</h1>

<p>Madame, Monsieur</p>

<p>
  Vous trouverez ci-dessous, le résumé des <b><%= totalAppointments %> séances</b> effectuées
  en <b><%= lastMonth %> <%= year %></b>, par les <b><%= psychologists.length %> psychologues</b> actifs qui sont conventionnés
  avec votre établissement.
</p>

<ul>
  <% psychologists.forEach(function(psychologist) { %>
    <li>
      <p>
        <%= psychologist.firstNames %> <%= psychologist.lastName %> (<%= psychologist.personalEmail %>) : <%= psychologist.countAppointments %> séances déclarées
      </p>
    </li>
  <% }); %> 
</ul>


<p>Vous pouvez également, si vous avez reçu un compte et défini votre mot de passe, accéder à ces données sur
  <a href="https://stats.santepsyetudiant.beta.gouv.fr/">le tableau de bord de votre université.</a>
</p>


<br/>


<p>Si vous avez des doutes ou d'autres interrogations, n'hésitez pas à nous écrire en répondant à ce mail.</p>

<p>L'équipe Santé Psy Étudiant</p>