
<h1>Santé Psy Étudiant</h1>


<h2>Bonjour ! 👋</h2>

<p>
  Voici le résumé des séances effectuées par les psychologues conventinés par votre établissement pour le <%= lastMonth %>/<%= year %>.
</p>

<ul>
  <% psychologists.forEach(function(psychologist) { %>
    <li>
      <h3><%= psychologist.firstNames %> <%= psychologist.lastName %></h3>
      <p>Nombre de séances déclarées : <%= psychologist.countAppointments %></p>
      <p>Contact: <%= psychologist.personalEmail %></p>
    </li>
  <% }); %> 
</ul>

<br/>

<p>En cas de problème avec votre compte, n'hésitez pas à répondre à ce mail</p>

<p>L'équipe Santé Psy Étudiant</p>
